@inherits LayoutComponentBase
@using AppForSEII2526.Maui.Resources.Languages
@inject IStringLocalizer<Shared> Localizer
@using System.Globalization

<div class="header">
    <div class="header-left">
        <img src="images/logo.png" class="logo" alt="Exergymise Logo" />
        <div class="header-text">
            <h1>EXERGYMISE</h1>
            <p>@Localizer["YourCompleteGymManagementSystem"]</p>
        </div>
    </div>

    <div class="header-right">
        <a href="settings" class="settings-icon" title="@Localizer["Settings"]">
            ⚙️
        </a>
    </div>
</div>

<div class="menu-container">
    <NavLink href="createplan" class="menu-box" activeClass="menu-box-active">@Localizer["CreatePlan"]</NavLink>
    <NavLink href="reportincident" class="menu-box" activeClass="menu-box-active">@Localizer["ReportIncident"]</NavLink>
    <NavLink href="shop" class="menu-box" activeClass="menu-box-active">@Localizer["Shop"]</NavLink>
</div>

<main>
    @Body
</main>

@code {
    protected override void OnInitialized()
    {
    }
}